## Ejemplo 2: Media Truncada

### 1. Objetivos:
    - Aprender a estimar la media truncada usando scipy.
 
---
    
### 2. Desarrollo:

La media truncada es un estimado de locación más *robusto* que el promedio y la mediana. Esto significa que es menos sensible a valores atípicos. La media truncada se obtiene de la siguiente manera:

1. Primero ordenamos nuestro conjunto de manera ascendente.
2. Después decidimos qué porcentaje de nuestros datos vamos a truncar. Los valores más comunes suelen variar entre 5% y 25%.
3. Divide el porcentaje acordado entre dos y elimina esa fracción de tus datos del inicio y del final de tu secuencia. Por ejemplo, si decides truncar un 5%, elimina el 2.5% de tus datos del inicio de tu secuencia y el otro 2.5% del final de tu secuencia.
4. Obtén el promedio de los valores restantes.

Afortunadamente, no tenemos que hacer esto manualmente. La biblioteca `scipy` ya ofrece un método para obtener la media truncada fácilmente:

In [1]:
from scipy import stats
import pandas as pd

In [2]:
df = pd.read_csv('../../Datasets/melbourne_housing-clean.csv')

In [3]:
df.head()

,Unnamed: 0,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
# la función para la media truncada implementada en stats de scipy es
# trim_mean, sus inputs principales son el dataframe y la proporción 
# de datos que quieres eliminar

# en este eliminaremos el 5% de arriba y el 5% de abajo (i.e. el 10%
# del total) de la columna 'price'

stats.trim_mean(df['price'], 0.1)

973653.7960935823

In [5]:
stats.trim_mean(df[['price','land_size']], 0.1)

array([9.73653796e+05, 4.10935501e+02])

In [8]:
stats.trim_mean(df[['price','land_size']], 0.2)

# El porcentaje de truncamiento se determina por expertise o
# dependiendo de los datos
# aunque al mundo le encanta quitar el 25%

array([9.38802824e+05, 4.14073125e+02])

In [9]:
stats.trim_mean(df[['price','land_size']], 0.25)

array([9.26835289e+05, 4.14820055e+02])

Si obtenemos el promedio y la mediana podemos observar que la distancia entre la media truncada y la mediana es menor que la distancia entre el promedio y la mediana. Esto podría ser indicador de que tenemos valores atípicos en nuestro conjunto. Ya aprendemos después cómo determinar si esto es cierto o no.

In [6]:
df[['price','land_size']].mean()

price        1.068142e+06
land_size    5.544581e+02
dtype: float64

In [7]:
df[['price','land_size']].median()

price        895500.0
land_size       412.0
dtype: float64